<div id="pins" class="transitions-enabled">
  <% @pins.each do |pin| %>
      <div class="box">
        <%= pin.description %><br/>
        <div class="panel panel-default">
          <%= link_to image_tag(pin.image.url(:thumb)), pin %><br/>
            <div class="panel-body">
              <%= pin.description %><br/>
            </div>
          <% if pin.user == current_user %>
              <div class="panel-footer">
                <%= link_to 'Edit', edit_pin_path(pin), class:'btn btn-primary btn-xs' %>
                <%= link_to 'Destroy', pin, class:'btn btn-danger btn-xs', method: :delete, data: { confirm: 'Are you sure?' } %><br/>
              </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <%= link_to 'New Pin', new_pin_path, class:'btn btn-success btn-lg' %>
</div>